@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/PretendardVariable.ttf") format("truetype");
}

@layer base {
  html {
    font-family: "Pretendard", sans-serif;
    line-height: 1;
  }

  /* 상품 가격 및 상품 수량 기본 화살표 버튼(스핀 버튼) 제거 - Chrome, Safari */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  /* 상품 가격 및 상품 수량 기본 화살표 버튼(스핀 버튼) 제거 - Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .page-title {
    @apply text-[32px] leading-none font-bold text-black mb-[60px];
  }

  .section-title {
    @apply block text-2xl leading-none font-bold text-black mb-[20px];
  }
}

@layer components {
  .page-title {
    @apply text-[32px] leading-none font-bold text-black mb-[60px];
  }

  .section-title {
    @apply block text-2xl leading-none font-bold text-black mb-[20px];
  }
}
