@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Pretendard", sans-serif;
    line-height: 1;
    src: url("/PretendardVariable.ttf");
  }
}

@layer components {
  .page-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px;
  }
  .section-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    margin-bottom: 20px;
  }
}
